<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="utf-8">
  <title>Info del Proceso</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>

<body class="container-fluid">
  <main>
    <div class="container w-75 p-2 border mt-2">
      <h3 class="text-white bg-dark">Información del Proceso</h3>
      <div class="container w-50 p-3">
        <ul>
          <li>
            <strong>Argumentos de Entrada:</strong>
            <p>
              <%= argumentos %>
            </p>
          </li>
          <li>
            <strong>Sistema Operativo:</strong>
            <p>
              <%= plataforma %>
            </p>
          </li>
          <li>
            <strong>Version de Node Js:</strong>
            <p>
              <%= version %>
            </p>
          </li>
          <li>
            <strong>Memoria Total Reservada:</strong>
            <p>
              <%= memoria %>
            </p>
          </li>
          <li>
            <strong>Path de Ejecución:</strong>
            <p>
              <%= pathExe %>
            </p>
          </li>
          <li>
            <strong>ID de Proceso:</strong>
            <p>
              <%= processId %>
            </p>
          </li>
          <li>
            <strong>Carpeta del Proyecto:</strong>
            <p>
              <%= carpeta %>
            </p>
          </li>
          <li>
            <strong>Número de Procesadores:</strong>
            <p>
              <%= procesadores %>
            </p>
          </li>
        </ul>

      </div>
    </div>
  </main>

</body>

</html>